# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependências
node_modules/
vendor/

# Arquivos de ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Arquivos de build/cache
dist/
build/
*.log
